<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>36639356420-qa00gmv8qjpo4f76677snj2t3cfp96b0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.36639356420-qa00gmv8qjpo4f76677snj2t3cfp96b0</string>
	<key>API_KEY</key>
	<string>AIzaSyD7NbCkGL6pjmOq7zG5XJxsQs7aOULeAEY</string>
	<key>GCM_SENDER_ID</key>
	<string>36639356420</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cice.iOS.CiceMovies.icologic</string>
	<key>PROJECT_ID</key>
	<string>cicemovies</string>
	<key>STORAGE_BUCKET</key>
	<string>cicemovies.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:36639356420:ios:b866cf91a098bc4e75a751</string>
</dict>
</plist>